@import "vars";
@import "normalize";

@import "../node_modules/tailwindcss/dist/base";
@import "../node_modules/tailwindcss/dist/components";
@import "../node_modules/tailwindcss/dist/utilities";


/*-------------------------------------*\
	Typography
\*-------------------------------------*/

@font-face {
	font-family: "Epilogue";
	src: url("../fonts/Epilogue.woff2") format("woff2-variations");
	font-weight: 100 900;
	font-display: swap;
}

@font-face {
	font-family: "Epilogue-Italic";
	src: url("../fonts/Epilogue-Italic.woff2") format("woff2-variations");
	font-weight: 100 900;
	font-display: swap;
}

html {
	position: relative;
	font-size: $t-base-text;
}

body {
	position: relative;
	font-family: $t-body-font;
	font-feature-settings: "ss01";
	// font-variant-caps: small-caps;
	font-size: 100%;
	line-height: $t-line-height;
	color: #252525;
	background: #fff;
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;
}

p,
ul,
ol,
dl,
table,
figure,
blockquote,
address,
h1,
h2,
h3,
h4,
h5,
h6,
.alpha,
.beta,
.gamma,
.delta,
.epsilon,
.zeta {
	margin-top: 0;
	margin-bottom: 1.25rem;
}

p,
ul,
ol,
dl,
table,
figure,
address {
	font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
.alpha,
.beta,
.gamma,
.delta,
.epsilon,
.zeta {
	font-family: $t-heading-font;
	line-height: 1.2;
	margin-top: 2.5rem;
	font-weight: 800;

	+ h1,
	+ h2,
	+ h3,
	+ h4,
	+ h5,
	+ h6,
	+ .alpha,
	+ .beta,
	+ .gamma,
	+ .delta,
	+ .epsilon,
	+ .zeta {
		margin-top: 0;
	}
}

/* stylelint-disable no-descending-specificity */
h1,
.alpha {
	@include type-alpha;
}

h2,
.beta {
	@include type-beta;
}

h3,
.gamma {
	@include type-gamma;
}

h4,
.delta {
	@include type-delta;
}

h5,
.epsilon {
	@include type-epsilon;
}

h6,
.zeta {
	@include type-zeta;
}
/* stylelint-enable no-descending-specificity */

a {
	color: $c-primary;
	text-decoration: none;

	&:hover {
		color: $c-primary-hover;
		text-decoration: underline;
	}
}

address {
	font-style: normal;
}

ul,
ol {
	padding-left: 1rem;

	li {
		margin: 1rem 0;
	}

	ul,
	ol {
		margin-top: .5rem;

		li {
			margin: .5rem 0;
		}
	}
}

blockquote {
	footer {
		font-weight: 700;
		text-transform: uppercase;

		cite {
			font-style: normal;
		}
	}
}


/*-------------------------------------*\
	Forms
\*-------------------------------------*/

[type="text"],
[type="date"],
[type="number"],
[type="email"],
[type="tel"],
[type="search"],
[type="color"],
[type="password"],
[type="time"],
[type="url"],
select,
textarea {
	display: block;
	width: 100%;
	height: 40px;
	padding: 0 .75em;
	color: currentColor;
	background: none;
	border: 1px solid #ccc;
	border-radius: 0;

	&:focus {
		border-color: $c-primary;
		outline: 0;
	}
}

/* stylelint-disable no-descending-specificity */
textarea {
	resize: vertical;
	height: 6em;
	padding: .75em;
}
/* stylelint-enable no-descending-specificity */

button,
label[for],
[type="submit"] {
	cursor: pointer;
}

.v-form {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	padding: 0;
	margin: -15px;
	list-style: none;

	br {
		display: none;
	}

	&__field {
		width: 100%;
		padding: 15px;
		margin: 0;

		&--half {
			width: 50%;
		}

		&--third {
			width: 33.3333%;
		}

		&--centered {
			text-align: center;
		}
	}
}

@media screen and (max-width: $b-medium) {
	.v-form {
		&__field {
			&--third {
				width: 100%;
			}
		}
	}
}

@media screen and (max-width: $b-small) {
	.v-form {
		&__field {
			&--half {
				width: 100%;
			}
		}
	}
}


/*-------------------------------------*\
	Buttons
\*-------------------------------------*/

.v-button {
	display: inline-block;
	width: auto;
	height: auto;
	padding: .75em 3em;
	line-height: 1.2;
	color: #fff;
	background: $c-secondary;
	border: 0;
	box-shadow: none;
	border-radius: 25px;
	font-weight: 800;
	text-transform: uppercase;

	&:hover {
		background: $c-secondary-hover;
	}
}


/*-------------------------------------*\
	Tables
\*-------------------------------------*/

table {
	max-width: 100%;
	border-collapse: collapse;
}


/*-------------------------------------*\
	Utilities and Helpers
\*-------------------------------------*/

.sr-only {
	@include a11y;
}

.responsive-embed {
	position: relative;

	&::before {
		content: "";
		display: block;
		padding-bottom: 56.25%;
	}

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.alignleft,
.alignright,
.aligncenter,
.alignnone {
	margin-bottom: 1.25rem;
}

.alignleft {
	float: left;
	margin-right: 10px;
}

.alignright {
	float: right;
	margin-left: 10px;
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// :first-child {
// 	margin-top: 0;
// }

// :last-child {
// 	margin-bottom: 0;
// }

@media screen and (max-width: $b-small) {
	.alignleft,
	.alignright {
		float: none;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}


/*-------------------------------------*\
	Layout
\*-------------------------------------*/

.container {
	width: 100%;
	@include maxwidth-wrapper;
	@include hspace-wrapper;
	margin: 0 auto;
}

.v-main {
	&::before,
	&::after {
		content: "";
		display: table;
		clear: both;
	}
}

@media screen and (max-width: 600px) {
	#wpadminbar {
		top: -46px;
	}
}


/*-------------------------------------*\
	Skip Nav
\*-------------------------------------*/

.v-skip-nav {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99999;
	width: 100%;
	padding: 10px 0;
	font-weight: 700;
	color: #fff;
	text-decoration: none;
	text-align: center;
	background: $c-primary;
	transform: translateY(-1000px);

	&:focus {
		background: desaturate(lighten($c-primary, 15%), 15%);
		box-shadow: inset 0 0 0 5px $c-primary;
		outline: 0;
		transform: translateY(0);
	}

	&:hover {
		color: #fff;
		text-decoration: underline;
	}
}


/*-------------------------------------*\
	Unsupported Browser
\*-------------------------------------*/

.v-unsupported-browser {
	display: none;
	padding: 10px 0;
	color: #fff;
	text-decoration: none;
	text-align: center;
	background: $c-primary;

	&__link {
		color: inherit;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
}


/*-------------------------------------*\
	Components
\*-------------------------------------*/

@import "../components/**/*";
