@use "bootstrap" as v;

.v-sponsors {
	padding: v.spacing("xsmall") 0;

	&__header {
		margin-bottom: v.spacing("xsmall");
	}

	&__cta-wrap {
		padding: v.spacing("small") 0;
		display: flex;
		align-items: flex-end;
		justify-content: center;
	}

	&__header-titles {
		width: 65%;
	}

	&__title {
		@include v.font-size("beta");
		font-weight: 300;
	}

	&__wrap {
		display: flex;
		justify-content: space-between;
		margin: -1.25rem;
	}

	.v-sponsor {
		padding: 1.25rem;
		margin: clamp(2rem, 3vw, 4rem);
		width: 33.3333%;
		max-width: 200px;
	}

	.v-sponsor__img {
		margin: 0 auto;
		display: block;
		width: 200px;
		height: auto;
	}
}

@media screen and (max-width: v.$b-medium) {
	.v-sponsors {
		.v-sponsor {
			padding: 1.25rem;
			width: 50%;
		}

		&__header-titles {
			width: 100%;
		}
	}
}

@media screen and (max-width: v.$b-small) {
	.v-sponsors {
		&__wrap {
			flex-wrap: wrap;
		}

		.v-sponsor {
			// width: 100%;
			margin: 0;


			&:first-of-type {
				margin-top: v.spacing("xsmall");
			}

			&:last-of-type {
				margin-bottom: v.spacing("xsmall");
			}
		}
	}
}
