{% include "hero/hero.twig" with {
	count: post.meta('slider')|length,
	slides: post.meta('slider'),
	class: 'v-hero--sm'
} %}

{% if post.meta('intro') %}
	{% include "intro/intro.twig" with {
		content: post.meta('intro'),
		heroHasSubtitle: false
	} %}
{% endif %}

{% if post.ID == 11 %}

	{% include "recent-news/recent-news.twig" with {
		count: posts|length,
		type: 'event',
		items: events_featured.posts,
		title: 'Featured Events',
		subtitle: null,
		cta: null,
	} %}

	<section class="v-intro v-intro--events">
		<div class="container v-intro__header">
			<h2 class="v-intro__title">All Events</h2>
		</div>
	</section>

	{% for event in events %}
		{% include "cta/cta.twig" with {
			title: event.post_title,
			date: event.event_start_date,
			cta: {
				link_type: 'internal',
				link: {
					internal_url: event.link,
				}
			},
			class: loop.last ? 'v-cta--last' : '',
			type: 'event',
		} %}
	{% endfor %}
{% endif %}

{% if post.ID == 32 %}

	<section class="v-intro v-intro--events">
		<div class="container v-intro__header">
			<h2 class="v-intro__title">Volunteer Opportunities</h2>
		</div>
	</section>

	{% for event in opportunities %}
		{% include "cta/cta.twig" with {
			title: event.post_title,
			date: event.event_start_date,
			cta: {
				link_type: 'internal',
				link: {
					internal_url: event.link,
				}
			},
			class: loop.last ? 'v-cta--last' : '',
			type: 'opportunity',
		} %}
	{% endfor %}
{% endif %}

{% include "image-content/image-content.twig" with {
	items: post.children,
} %}

{% include "cta/cta.twig" with {
	title: post.meta('cta_type') == 'Random' ? post.meta('cta_text') : options,
	cta: post.meta('cta_type') == 'Random' ? post.meta('cta_link') : options,
	class: 'v-cta--bottom-overlap',
	type: post.meta('cta_type'),
} %}

{% include "form/form.twig" with {
	title:    'Contact Us',
	subtitle: 'We\'re all ears!'
} %}

