{% include "hero/hero.twig" with {
	count: post.meta('slider') ? post.meta('slider')|length : post.meta('hero_img')|length,
	slides: post.meta('slider') ? post.meta('slider') : post.meta('hero_img'),
	class: 'v-hero--sm'
} %}

{% if post.meta('intro') %}
	{% include "intro/intro.twig" with {
		content: post.meta('intro'),
		heroHasSubtitle: false
	} %}
{% endif %}

{# EVENTS #}
{% if post.ID == 11 %}

	{% include "recent-news/recent-news.twig" with {
		count: posts|length,
		type: 'event',
		items: events_featured.posts,
		title: 'Featured Events',
		subtitle: null,
		cta: null,
	} %}

	<section class="v-intro v-intro--events">
		<div class="container v-intro__header">
			<h2 class="v-intro__title">All Events</h2>
		</div>
	</section>

{% if events %}
		{% set nowDate = "now"|date("m/d/Y") %}
		{% for event in events %}

			{% if nowDate < event.event_start_date|date("m/d/Y") or event.event_start_date == '' %}
				{% include "cta/cta.twig" with {
					title: event.post_title,
					date: event.event_start_date,
					cta: {
						link_type: 'internal',
						link: {
							internal_url: event.link,
						}
					},
					class: loop.last ? 'v-cta--last' : '',
					type: 'event',
				} %}
			{% endif %}
		{% endfor %}

	{% else %}
		<section class="v-intro v-intro--events">
			<div class="container v-intro__header">
				<h4 style="font-weight: 300;padding-top: 1.5rem;">Nothing scheduled, but check back soon!</h4>
				<br>
			</div>
		</section>
	{% endif %}
{% endif %}

{# BOARD MEMBERS #}
{% if post.ID == 50 %}
	{% include "image-content/image-content.twig" with {
		items: board,
	} %}
{% endif %}


{# OPPOTUNITIES #}
{% if post.ID == 32 %}

	<section class="v-intro v-intro--events">
		<div class="container v-intro__header">
			<h2 class="v-intro__title">Volunteer Opportunities</h2>
		</div>
	</section>

	{% if opportunities %}
		{% for event in opportunities %}
			{% include "cta/cta.twig" with {
				title: event.post_title,
				date: event.event_start_date,
				cta: {
					link_type: 'internal',
					link: {
						internal_url: event.link,
					}
				},
				class: loop.last ? 'v-cta--last' : '',
				type: 'event',
			} %}
		{% endfor %}

	{% else %}
		<section class="v-intro v-intro--events">
			<div class="container v-intro__header">
				<h4 style="font-weight: 300;padding-top: 1.5rem;">Sorry, we don't have anything at the moment. Check back soon!</h4>
				<br>
			</div>
		</section>
	{% endif %}
{% endif %}

{# option: class: 'v-image-content--reverse' #}
{% if post.children|length > 0 %}
	{% include "image-content/image-content.twig" with {
		items: post.children,
	} %}
{% endif %}

{% include "cta/cta.twig" with {
	title: post.meta('cta_type') == 'Random' ? post.meta('cta_text') : options,
	cta: post.meta('cta_type') == 'Random' ? post.meta('cta_link') : options,
	class: 'v-cta--bottom-overlap',
	type: post.meta('cta_type'),
} %}

{% include "form/form.twig" with {
	title:    'Contact Us',
	subtitle: 'We\'re all ears!'
} %}

