@use "sass:math";
@use "sass:color";

// Fonts
@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400;600;700;800&display=swap");

// Common (B)reakpoints
$b-small: 550px; // mobile
$b-medium: 768px; // portrait tablet
$b-medium-large: 1024px; // landscape tablet
$b-large: 1200px; // small laptop
$b-maxspacing: 1920px; // the point above which dynamic spacing mixins max out
$b-minspacing: 375px; // the point below which dynamic spacing mixins bottom out

// (L)ayout
$l-max-content: 1300px; // width of content excluding page horizontal padding

// (S)pacing
$s-sizes: (
	"large": (
		"min": 60px,
		"max": 145px,
	),
	"small": (
		"min": 45px,
		"max": 90px,
	),
	"xsmall": (
		"min": 30px,
		"max": 65px,
	),
	"container": (
		"min": 15px,
		"max": 110px,
	),
);

// (C)olors
$c-primary: #00706f;
$c-primary-hover: color.scale(color.adjust($c-primary, $lightness: -10%), $saturation: 10%);
$c-secondary: #a3a100;
$c-secondary-hover: color.scale(color.adjust($c-secondary, $lightness: -10%), $saturation: 10%);
$c-text: #252525; // body copy color

:root {
	--c-primary: #00706f;
	--c-primary-hover: #003d3c;
	--c-secondary: #a3a100;
	--c-secondary-hover: #706f00;
	--c-text: #252525;
	--box-shadow:
		0 0 9.6px -17px rgba(0, 0, 0, .055),
		0 0 26.4px -17px rgba(0, 0, 0, .1358),
		0 0 63.6px -17px rgba(0, 0, 0, .1275),
		0 0 211px -17px rgba(0, 0, 0, .092);
}

// (T)ypography
$t-body-font: "Epilogue", -apple-system, system-ui, blinkmacsystemfont, "Segoe UI", helvetica, arial, sans-serif,
	"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$t-heading-font: "Epilogue", -apple-system, system-ui, blinkmacsystemfont, "Segoe UI", helvetica, arial, sans-serif,
	"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$t-base-text: 16px;
$t-line-height: 1.5;
$t-sizes: (
	"kilo": (
		"desktop": 5.25rem,
		"mobile": 3rem,
	),
	"alpha": (
		"desktop": 4.25rem,
		"mobile": 2.25rem,
	),
	"beta": (
		"desktop": 3.25rem,
		"mobile": 1.85rem,
	),
	"gamma": (
		"desktop": 2.25rem,
		"mobile": 1.5rem,
	),
	"delta": (
		"desktop": 1.5rem,
		"mobile": 1rem,
	),
	"epsilon": (
		"desktop": 1.25rem,
		"mobile": 1rem,
	),
	"zeta": (
		"desktop": .875rem,
		"mobile": .75rem,
	),
	"milli": (
		"desktop": .875rem,
		"mobile": .75rem,
	)
);
