@use "bootstrap" as v;

.v-recent-news {
	padding: v.spacing("small") 0 v.spacing("xsmall");

	&__header {
		margin-bottom: v.spacing("xsmall");
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
	}

	&__title {
		@include v.font-size("gamma");
		font-weight: 400;
	}

	body:not(.home) & {
		padding-bottom: v.spacing("xsmall");
	}

	.blog &__cta {
		display: none;
	}
}

.v-intro + .v-recent-news {
	padding-top: 0;
}

@media screen and (max-width: v.$b-medium) {
	.v-recent-news {
		&__header-cta {
			display: none;
		}
	}
}
