@use "bootstrap" as v;

.v-form {
	position: relative;
	padding: 0 0 v.spacing("large");
	background-color: v.$c-primary;
	overflow: hidden;

	&--contact {
		background-color: #fff;
		padding-top: 0;
		padding-bottom: 0;
	}

	.page-template-template-get-involved &__inner {
		padding-bottom: 0;
	}

	body.home & {
		&__inner {
			padding-bottom: 0;
		}
	}

	&__inner {
		position: relative;
		padding: v.spacing("large") 0 v.spacing("small");
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&--contact &__inner {
		padding-top: 0;
		justify-content: center;
	}

	&__content {
		position: absolute;
		left: 45%;
		top: 50%;
		transform: translate(-55%, -50%);
		width: 55%;
		flex-shrink: 0;
		display: flex;
		flex-direction: column;
	}

	&--contact &__content {
		width: 75%;
	}

	&__content-title,
	&__content-subtitle {
		color: #fff;
		padding-left: 0;
	}

	&--contact &__content-title,
	&--contact &__content-subtitle {
		color: v.$c-text;
	}

	&__form {
		width: 45%;
		margin-left: auto;
		z-index: 1;
	}

	&--contact &__form {
		margin: 0 auto;
		width: 60%;
	}

	.wpcf7-list-item-label {
		color: #fff;
	}

	&-newsletter-acceptance label,
	&__flex {
		display: flex;
		align-items: flex-start;
	}

	.wpcf7-checkbox label,
	&__flex &__field {
		display: flex;
		align-items: center;
	}

	.wpcf7-list-item {
		margin-left: 0;
	}

	.page-template-template-contact &__field select,
	.page-template-template-contact &__field textarea,
	.page-template-template-contact &__field input,
	&__field--outline input {
		color: var(--c-text);
		background: #fff;
		border: 1px solid var(--c-text);

		&::placeholder {
			opacity: 1;
			color: var(--c-text);
		}
	}

	.wpcf7-checkbox label,
	&__input-label {
		color: #fff;
	}

	.page-template-template-contact &__field .wpcf7-checkbox label,
	&__field--outline .wpcf7-checkbox label {
		color: var(--c-primary);
	}

	&--contact &__input-label {
		color: v.$c-text;
	}

	&__flex &__field--submit {
		display: flex;
		margin-left: auto;
		justify-content: flex-end;
		align-items: flex-end;
		flex-direction: column;
	}
}

.page-template-template-contact .wpcf7-list-item-label,
.v-intro--membership + .v-form--contact .wpcf7-list-item-label {
	color: var(--c-text);
}

.v-intro--membership + .v-form--contact .wpcf7 form.invalid .wpcf7-response-output,
.v-intro--membership + .v-form--contact .wpcf7-response-output {
	color: var(--c-text);
}

.v-cta + .v-form .wpcf7-response-output {
	color: #fff;
}

.v-cta + .v-form .v-form__inner {
	padding-bottom: 0;
}

/* stylelint-disable-next-line no-descending-specificity */
.wpcf7 form.invalid .wpcf7-response-output,
.v-form--contact .wpcf7-response-output {
	color: #fff;
	margin-bottom: 0;
}

.wpcf7 form .v-form__field--white-bg ~ .wpcf7-response-output {
	color: var(--c-text);
}

/* stylelint-disable-next-line no-descending-specificity */
.page-template-template-contact .wpcf7 form.invalid .wpcf7-response-output,
.page-template-template-contact .v-form--contact .wpcf7-response-output {
	color: var(--c-text);
	margin-bottom: 0;
}

@media screen and (max-width: v.$b-large) {
	.v-form {
		&__content {
			left: 7%;
			transform: translate(0, -50%);
		}
	}
}

.v-form__field--submit.v-form__field input[type="submit"] {
	display: inline-block;
	width: auto;
	height: auto;
	padding: .95em 3em .75em 3em;
	line-height: 1.2;
	color: #fff;
	background: var(--c-primary);
	border: 0;
	box-shadow: none;
	border-radius: 25px;
	font-weight: 800;
	text-decoration: none;
	text-transform: uppercase;
	transition: background .15s ease-out;

	&:focus,
	&:hover {
		background: var(--c-primary-hover);
		text-decoration: none;
		color: #fff;
	}
}

.v-form__field--submit.v-form__field--submit--dark input[type="submit"] {
	background: var(--c-primary-hover);
}

.v-intro + .v-form--contact .v-form__field--submit.v-form__field--submit--dark input[type="submit"] {
	background: var(--c-primary);
}

.v-form__select-field {
	color: #b1b1b1;
	// background: #fff;
	border: 1px solid var(--c-text);
	height: 58px;
	padding-block: 0;

	&::placeholder {
		color: var(--c-text);
	}
}

.v-form__select-field[multiple="multiple"] {
	padding-block-end: 4px;
	border: 0;
	height: 150px;
	border-radius: 16px;
}

.v-form__select-field[multiple="multiple"] option {
	padding-block: 8px;
}

.v-form__select-field[multiple="multiple"] option:first-of-type {
	background-color: var(--c-primary-hover);
	color: #fff;
	padding: 1rem;
	left: 0;
	width: 100%;
	font-weight: 700;
}

.page-template-template-get-involved .v-form--contact .v-form__select-field {
	color: var(--c-text);
	background-color: #fff;
}

.page-template-template-contact .v-form__select-field {
	color: var(--c-text);
}

@media screen and (max-width: v.$b-medium-large) {
	.v-form {
		&__content {
			left: 5%;
			transform: translate(0, -50%);
		}

		&--contact &__form {
			width: 100%;
		}
	}
}

@media screen and (max-width: 650px) {
	.v-form {
		margin: 0;

		&__inner {
			flex-direction: column;
		}

		&__content {
			position: relative;
			left: auto;
			transform: none;
			width: 100%;
		}

		&__content-title,
		&__content-subtitle {
			padding-left: 0;
		}

		&__form {
			width: 100%;
			margin-top: v.spacing("xsmall");
		}

		&--contact &__form {
			margin-top: 0;
			width: 100%;
		}

		.v-form__select-field[multiple="multiple"] {
			height: 58px;
			border: 232px;
		}

		.v-form__select-field[multiple="multiple"] option:first-of-type {
			padding-left: 0;
		}

		&__field {
			padding: 15px 0;
		}

		.v-cta &__field {
			padding: 15px 1.75em;
		}
	}
}
