@use "bootstrap" as v;

.v-intro {
	padding: v.spacing("large") 0;
	@include v.font-size("epsilon");

	&__inner {
		max-width: 1000px;
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
	}

	& + & {
		padding-top: 0;
	}

	&--events {
		padding-bottom: 0;
	}

	&__header {
		margin-bottom: 0;
	}

	&__title {
		@include v.font-size("beta");
		font-weight: 300;
	}
}
