@use "bootstrap" as v;

.v-pagination {
	margin-top: v.spacing("xsmall", -1);

	&__inner {
		display: flex;
		justify-content: space-between;
	}

	&__control {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		background-color: v.$c-primary;
		border: none;
		border-radius: 0;
		width: 120px;
		height: 56px;
		text-align: center;

		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 1.25rem;
			width: .8rem;
			height: .8rem;
			border-top: 2px solid #fff;
			border-right: 2px solid #fff;
			background-color: transparent;
			transform: translate(0, -50%) rotate(-135deg);
		}

		&:last-of-type {
			justify-content: flex-end;
		}

		&:last-of-type::after {
			right: 1.25rem;
			left: auto;
			transform: translate(0, -50%) rotate(45deg);
		}

		&--disabled {
			opacity: .4;
			cursor: not-allowed;
		}
	}
}

@media screen and (max-width: v.$b-medium-large) {
	.v-pagination {
		margin-top: v.spacing("xsmall", -.5);
	}
}
