{#
	@var string class plain text
#}
<section class="v-pagination {{class}}">
	<div class="container">
		<div class="v-pagination__inner">
			<button class="v-pagination__control v-pagination__control--prev v-button">
				<span class="sr-only">Previous</span>
			</button>
			<button class="v-pagination__control v-pagination__control--next v-button">
				<span class="sr-only">Next</span>
			</button>
		</div>
	</div>
</section>
