@use "bootstrap" as v;

.v-grid {
	.v-card--third {
		width: calc(33.3333% - clamp(1rem, 2vw, 3rem));
		max-width: calc(33.3333% - clamp(1rem, 2vw, 3rem));
		margin-bottom: clamp(1rem, 2.8vw, 4rem);
		flex-grow: 1;
	}

	.v-card--fourth {
		width: calc(25% - clamp(1rem, 2vw, 3rem));
		max-width: calc(25% - clamp(1rem, 2vw, 3rem));
		margin-bottom: clamp(1rem, 2vw, 3rem);
		flex-grow: 1;
	}

	&__inner {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		column-gap: clamp(1rem, 2vw, 3rem);
	}
}

@media screen and (max-width: v.$b-medium) {
	.v-grid {
		.v-card--third {
			width: calc(50% - clamp(1rem, 2vw, 3rem));
			max-width: calc(50% - clamp(1rem, 2vw, 3rem));
			margin-bottom: clamp(2rem, 3vw, 4rem);
		}

		.v-card--fourth {
			width: calc(50% - clamp(1rem, 2vw, 3rem));
			max-width: calc(50% - clamp(1rem, 2vw, 3rem));
			flex-grow: 1;
			margin-bottom: clamp(1rem, 2vw, 3rem);
		}
	}
}

@media screen and (max-width: v.$b-small) {
	.v-grid {
		.v-card--third {
			width: 100%;
			max-width: 100%;
			margin-bottom: v.spacing("container");
		}

		.v-card--fourth {
			width: 100%;
			max-width: 100%;
			margin-bottom: v.spacing("container");
		}

		// body:not(.home) & .v-card:nth-last-of-type(2) {
		// 	margin-bottom: 0;
		// 	border: 10px solid blue;
		// }

		// body:not(.home) & .v-card:nth-last-of-type(1) {
		// 	margin-bottom: 0;
		// 	border: 10px solid red;
		// }

		body.single & .v-card:last-of-type {
			margin-top: v.spacing("container") !important;
		}

		// body.single & .v-card:last-of-type .v-card__bg {
		// 	height: 100%;
		// }

		// body.single & .v-card:last-of-type .v-card__inner {
		// 	height: 100%;
		// }
	}

}
