{#
	@var string class plain text
#}
<article class="v-card mt-96 {{class}}">
	<h1>Hi Card {{title}}</h1>
	Once upon a time Epilogue had a different name. Since its previous story has ended this new iteration literally gained some weight and a variable slant angle. Sometimes you need a clean and crisp go-to font that isn't preinstalled on every computer in the world. Epilogue was made for that. It is familiar but unique enough to be memorable. This makes it both easy to use and a joy to apply.

	The range of weights (Thin/100 to Black/900) make it easy to accommodate any size requirement, on screen and in print. And with the variable option you can choose your own weight, like 314 or 567. If the thin is feeling too thin try 150, it's all good. In fact, our current website – including this paragraph – is set in Epilogue.

	Epilogue comes in static styles for desktop and web as well as a single variable font and has received several updates since its release in August of 2018. Thanks to Google Fonts, Epilogue now exists in libre form with an Open Font License and is available on Github


</article>
