{% include "hero/hero.twig" with {
	count: 1,
	class: 'v-hero--sm'
} %}

{% include "recent-news/recent-news.twig" with {
	title:    'What\'s Happening',
	items: posts,
	subtitle: 'News around the neighborhood',
	cta: 'View More'
} %}

{% include "pagination/pagination.twig" with {
	pagination: posts.pagination
} %}

{% include "cta/cta.twig" with {
	title: options,
	cta: options,
	class: 'v-cta--bottom-overlap',
	type: 'Newsletter',
} %}

{# {% include "sponsors/sponsors.twig" with {
	title:    'Our Sponsors',
	count: 6,
	subtitle: 'Sponsor images should be 200x200px only. Can we encourage sponsors to use their logo / icons instead of words? <a class="v-link" href="#!">View All</a>'
} %} #}

{% include "image-content/image-content.twig" with {
	class: 'v-image-content--reverse',
	title:    'Overlea is Rich in History',
	count: 1,
	text: 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident in aut doloremque ipsa voluptates nostrum, libero animi amet consequuntur. Voluptatem accusantium facere cupiditate suscipit necessitatibus voluptates sint ratione, eos minus.'
} %}

{% include "form/form.twig" with {
	title:    'Contact Us',
	subtitle: 'We\'re all ears!'
} %}

